*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightblue;
}

.button-box{
  width: 220px;
  margin: 35px;
  position: relative;
  border-radius: 30px;
  background: white;
}

.toggle-btn{
  width: 100px;
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}

#btn{
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #e67e22;
  border-radius: 30px;
  transform: .5s;
}